# Application Settings
PORT=3000
LOG_LVL=debug
NODE_PATH=./

# Service Settings
SITE_NAME=poc.duzyid.com
ROUTE_PATH=/api
X_POWERED_BY=CodeIT
DB_STORE_FILE=/data

# Ebay Settings
EBAY_API_IDENTITY_URL=https://api.sandbox.ebay.com/identity/v1/
EBAY_API_BROWSE_URL=https://api.sandbox.ebay.com/buy/browse/v1/
EBAY_APP_ID=sample
EBAY_APP_CERT=sample

# Ads settings
DEFAULT_BUTTON_SRC=https://d1o176s0aoq15o.cloudfront.net/duzy-id-btn.png
